{% extends 'courses/base.html' %}
{% load static %}

{% block title %}Browse Courses - EduVerse{% endblock %}

{% block content %}
<div id="react-app"></div>

<!-- React and Babel from CDN -->
<script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<!-- Our JavaScript files -->
<script src="{% static 'courses/js/utils.js' %}"></script>
<script src="{% static 'courses/js/api.js' %}"></script>
<script type="text/babel" src="{% static 'courses/js/QuizCard.js' %}"></script>
<script type="text/babel" src="{% static 'courses/js/App.js' %}"></script>
<script type="text/babel" src="{% static 'courses/js/index.js' %}"></script>
{% endblock %}